/Faculties.class
/FamilyStatus.class
/Format.class
/Gender.class
/GraduateStudentType.class
/Language.class
/ManagerType.class
/TeacherType.class
/UrgencyLevel.class
/UserType.class
/DayOfWeek.class
/LessonType.class
/Grade.class
